// 本文のスタイル
strong {
  background: linear-gradient(transparent 60%, rgba(247, 222, 28, .5) 40%)
}
h3,h4,h5 {
  margin: 2em 0 1.5em;
  font-weight: 500
}
h3 {
  margin: 2.5em 0 2em;
  font-size: 140%;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #f36777
}
h4 {
  padding: 0 0 0 1em;
  font-size: 100% !important;
  font-weight: 600;
  line-height: 1.4;
  color: #f36777;
  border-left: 4px solid #f36777
}
dl { margin: 0 0 2em }
dt {
  margin: 0 0 1.2em;
  border-bottom: 1px solid #ddd;
  font-weight: 700
}
dd { margin: .5em 0 1.2em }


// プロフィールアイコン
p.icn {
  text-align: center;
  img {
    display: block;
    margin: auto;
    border: none;
  }
}

// リンク紹介
.link {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}
.hatena-citation {
  margin: 10px 0 30px;
}

// 更新情報
.follow-btn {
  text-align: center;
  a {
    display: inline-block;
    margin: 0;
    padding: 1em 0;
    box-sizing: border-box;
    width: 30%;
    line-height: 28px;
    text-decoration: none;
    border-radius: 10px;
    background: #fff;
  }
  .hatena {
    color: #3D3F44;
    &:hover {
      color: #ffffff;
      background: #3D3F44;
    }
  }
  .twitter {
    margin: 0 3%;
    color: #00ACEE;
    &:hover {
      color: #ffffff;
      background: #00ACEE;
    }
  }
  .feedly {
    color: #70CA3B;
    &:hover {
      color: #ffffff;
      background: #70CA3B;
    }
  }
}

// プライバシーポリシー
#privacy {
  margin-bottom: 2em;
  padding: 2em 2em 0.1em;
  background: #eee;
  border-radius: .3em;
  h3 {
    margin: 0 0 .5em;
    color: #454545;
  }
  h4 {
    margin: 1em 0;
    color: #454545;
    border-left: 4px solid #454545;
  }
}

// レイアウト
#main-inner {
  max-width: 100%;
  padding: 0
}
.entry {
  margin: 0 0 2em;
  padding: 0 0 2em;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  &:hover {
    background: #f8f8f8
  }
}
.entry-inner {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em
}
.entry-content {
  order: 2;
  width: 100%;
  line-height: 1.8;
  letter-spacing: .02em;
  border-bottom: 1px solid #ddd
}
dl {
  order: 3
}
